@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: radial-gradient(rgb(103, 88, 65),rgb(119, 75, 21),rgb(66, 40, 2));
  text-shadow: 1px 2px 2px rgb(114, 112, 112);
}
.marco-head{
  background-image: url("../img/marco.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.marco-profile{
  background-image: url("../img/profile.png");
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
}
